**/dist
**/dist-*
**/cabal-dev
**/*.o
**/*.hi
**/*.chi
**/*.chs.h
**/*.dyn_o
**/*.dyn_hi
**/.hpc
**/.hsenv
**/.cabal-sandbox/
**/cabal.sandbox.config
**/*.prof
**/*.aux
**/*.hp
**/*.eventlog
**/.stack-work/
**/cabal.project.local
**/cabal.project.local~
**/.HTF/
**/.ghc.environment.*
**/stack*.yaml.lock
**/*~
**/*.swp
**/Dockerfile
.git/
.github/
.DS_Store
/docker/
/local/
/local-data/
/script/dev_deploy_conf.json
