[submodule "external/gRPC-haskell"]
	path = external/gRPC-haskell
	url = https://github.com/hstreamdb/gRPC-haskell.git
[submodule "external/hsthrift"]
	path = external/hsthrift
	url = https://github.com/hstreamdb/hsthrift.git
