[submodule "z-data"]
	path = z-data
	url = git@github.com:haskell-Z/z-data.git
[submodule "z-io"]
	path = z-io
	url = git@github.com:haskell-Z/z-io.git
[submodule "z-yaml"]
	path = z-yaml
	url = git@github.com:haskell-Z/z-yaml.git
