name: CI

on:
  push:
    branches: [main, master]

  pull_request:
    branches: [main, master]

jobs:
  pre-build:
    runs-on: ubuntu-latest
    name: Prepare pre-build environment for tests
    outputs:
      ghc: ${{ steps.parser.outputs.ghc }}
    steps:
      - uses: actions/checkout@v2

      - id: parser
        run: |
          pkgcabal="hstream/hstream.cabal"
          GHCS=$(cat ${pkgcabal} | grep tested-with | sed -e 's/[^0-9|\.]/ /g' -e 's/^ *//g' -e 's/ *$//g' | python3 -c 'import sys, json; print(json.dumps([x.strip() for x in sys.stdin.read().split()]))')
          echo "Set ghc versions: $GHCS..."
          echo "::set-output name=ghc::$GHCS"

      - name: Run stylish-haskell
        run: |
          # install stylish-haskell
          PACKAGE=stylish-haskell
          RELEASES=$(curl --silent https://github.com/haskell/$PACKAGE/releases)
          URL=https://github.com/$(echo $RELEASES | grep -o '\"[^\"]*-linux-x86_64\.tar\.gz\"' | sed s/\"//g | head -n1)
          VERSION=$(echo $URL | sed -e 's/.*-\(v[\.0-9]\+-linux-x86_64\)\.tar\.gz/\1/')
          TEMP=$(mktemp --directory)
          curl --progress-bar --location -o$TEMP/$PACKAGE.tar.gz $URL
          tar -xzf $TEMP/$PACKAGE.tar.gz -C$TEMP
          chmod +x $TEMP/$PACKAGE-$VERSION/$PACKAGE
          # check all sources
          echo "Run script/format.sh with latest stylish-haskell..."
          FORMATER_BIN=$TEMP/$PACKAGE-$VERSION/$PACKAGE bash script/format.sh ci && git diff-index --exit-code HEAD

  build-and-test:
    needs: pre-build
    runs-on: ubuntu-latest
    name: GHC-${{ matrix.ghc }}
    strategy:
      matrix:
        ghc: ${{ fromJson(needs.pre-build.outputs.ghc) }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cabal/packages
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-${{ matrix.ghc }}-v1-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('**/cabal.project') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-v1

      - name: build
        run: |
          python3 script/dev-tools cluster-start
          sleep 5     # waiting cluster start

          python3 script/dev-tools cabal --no-interactive -i docker.io/hstreamdb/haskell:${{ matrix.ghc }} update

          python3 script/dev-tools cabal --no-interactive -i docker.io/hstreamdb/haskell:${{ matrix.ghc }} -- build --upgrade-dependencies --only-dependencies all
          python3 script/dev-tools cabal --no-interactive -i docker.io/hstreamdb/haskell:${{ matrix.ghc }} -- build --enable-tests --enable-benchmarks all

      - name: test
        run: |
          echo "====== Test hstream-store ======"
          python3 script/dev-tools cabal --no-interactive -i docker.io/hstreamdb/haskell:${{ matrix.ghc }} -- test --test-show-details=always hstream-store
          echo "====== Test hstream-sql ======"
          python3 script/dev-tools cabal --no-interactive -i docker.io/hstreamdb/haskell:${{ matrix.ghc }} -- test --test-show-details=always hstream-sql
          echo "====== Test hstream-processing ======"
          python3 script/dev-tools cabal --no-interactive -i docker.io/hstreamdb/haskell:${{ matrix.ghc }} -- test --test-show-details=always hstream-processing
          echo "====== Test hstream ======"
          python3 script/dev-tools cabal --no-interactive -i docker.io/hstreamdb/haskell:${{ matrix.ghc }} -- test --test-show-details=always hstream

      - name: check
        run: |
          # unfortunately, there is no `cabal check all`
          #log_info "Run all cabal check..."
          # Note that we ignore hstream-store package to run cabal check, because there
          # is an unexpected warning:
          #   ...
          #   Warning: 'cpp-options': -std=c++17 is not portable C-preprocessor flag
          #   Warning: Hackage would reject this package.
          bash -c 'cd hstream-sql && python3 ../script/dev-tools cabal --no-interactive -i docker.io/hstreamdb/haskell:${{ matrix.ghc }} check'
          bash -c 'cd hstream-processing && python3 ../script/dev-tools cabal --no-interactive -i docker.io/hstreamdb/haskell:${{ matrix.ghc }} check'
          bash -c 'cd hstream && python3 ../script/dev-tools cabal --no-interactive -i docker.io/hstreamdb/haskell:${{ matrix.ghc }} check'

          echo "====== cabal haddock ======"
          python3 script/dev-tools cabal --no-interactive -i docker.io/hstreamdb/haskell:${{ matrix.ghc }} -- haddock --flag server-tests --enable-tests --enable-benchmarks all
